<div style="max-width: 95%;">
<form action="https://getform.io/f/4fe66fed-2988-4761-9d69-bb2aca136b14" 
      method="POST"
      accept-charset="UTF-8">
	<hr>
	Optional:<br>
    <label for="fullname">Your Name:</label><br>
    <input type="text" name="fullname" Name style="max-width: 100%;" cols="100"><br>
    <label for="email">Email Address:</label><br>
    <input type="email" name="email" style="max-width: 100%;" cols="100"><br>
	Please select:
	<div style="max-width: 95%; padding-left: 20px;">
	<div class="row">
		<label for="Day" style="width: 230px;" >I would like to come:</label><br>
		<div class="column" style= "width:150px">
			<input type="radio" name="Attendence" value="Often" >
			<label for="Attendence"> Often </label><br>
		</div>		
		<div class="column" style= "width:150px;">
			<input type="radio" name="Attendence" value="Sometimes" >    
			<label for="Attendence"> Sometimes </label><br>
		</div>
		<div class="column" style= "width:150px;">
			<input type="radio" name="Attendence" value="Never" >    
			<label for="Attendence"> It's not for me </label><br>
		</div>
	</div>
	<div class="row">
		<label for="Day" style="width: 230px;" >Good days for me are:</label><br>
		<div class="row" style="max-width: 95%; padding-left: 20px;">
			<input type="checkbox" name="Day" value="Mon" >
			<label for="Day" style="padding-left: 5px; width: 100px;" > Monday </label><br>
			<input type="checkbox" name="Day" value="Tue" >
			<label for="Day" style="padding-left: 5px; width: 100px;" > Tuesday </label><br>
			<input type="checkbox" name="Day" value="Wed" >
			<label for="Day" style="padding-left: 5px; width: 150px;"> Wednesday </label><br>
			<input type="checkbox" name="Day" value="Thur" >
			<label for="Day" style="padding-left: 5px; width: 120px;"> Thursday </label><br>
			<input type="checkbox" name="Day" value="Fri" >
			<label for="Day" style="padding-left: 5px; width: 100px;"> Friday </label><br>
			<input type="checkbox" name="Day" value="Sat" >
			<label for="Day" style="padding-left: 5px; width: 110px;"> Saturday </label><br>
			<input type="checkbox" name="Day" value="Sun" >
			<label for="Day" style="padding-left: 5px; width: 100px;"> Sunday </label><br>
		</div>		
	</div>
	</div>
	<div class="row">
		<label for="Day" style="width: 230px;" >Good time for me is:</label><br>
		<div class="row" style="max-width: 95%; padding-left: 20px;">
			<input type="text" name="Day" value="Time" >
			<label for="Day" style="padding-left: 5px; width: 100px;" > Mon </label><br>
			<input type="text" name="Day" value="Time" >
			<label for="Day" style="padding-left: 5px; width: 100px;" > Tue </label><br>
			<input type="text" name="Day" value="Time" >
			<label for="Day" style="padding-left: 5px; width: 150px;"> Wed </label><br>
			<input type="text" name="Day" value="Time" >
			<label for="Day" style="padding-left: 5px; width: 120px;"> Thur </label><br>
			<input type="text" name="Day" value="Time" >
			<label for="Day" style="padding-left: 5px; width: 100px;"> Fri </label><br>
			<input type="text" name="Day" value="Time" >
			<label for="Day" style="padding-left: 5px; width: 110px;"> Sat </label><br>
			<input type="text" name="Day" value="Time" >
			<label for="Day" style="padding-left: 5px; width: 100px;"> Sun </label><br>
		</div>		
	</div>
	</div>	
	<label for="private_message">Optional Message:</label><br>
    <textarea type="text" name="private_message" rows="4" cols="200" style="max-width: 100%; box-sizing: border-box;" >
    </textarea>
	<hr>
    <button type="submit">Send</button> 
</form>
</div>