<html>
<head>
<style type="text/css">
<!--
.radioCols {width:500px; padding-left: 20px;}
-->
</style>
</head>
<body>
<div style="max-width: 95%;">
<form action="https://getform.io/f/4fe66fed-2988-4761-9d69-bb2aca136b14" 
      method="POST"
      accept-charset="UTF-8">
	<hr>
	<h2>TnT is provided as a safe place for seconary school children to relax, chat and be together.</h2>
	<p>Please select:</p>
	<div class="radioCols">
		<input type="radio" name="Idea" value="GoodIdea" >    
		<label for="GoodIdea"> I think that is a good idea </label><br>
		<input type="radio" name="Idea" value="BadIdea" >    
		<label for="BadIdea"> I don't think it is needed in Chinley </label><br>
		<label for="Idea-Other"> Other comments about the idea: </label><br>
		<input type="text" name="Idea_Other" value="" >
	</div>
	
	<h2>TnT  meets in the Parish room opposite the shops in Chinley</h2>
	<p>Please tick:</p>
	<div class="checkCols">
		<input type="checkbox" value="Convenient" >    
		<label for="Convenient"> The location is convenient </label><br>
		<input type="checkbox" value="Small" >    
		<label for="Small"> The room is too small </label><br>
		<input type="checkbox" value="Uninviting" >    
		<label for="Uninviting"> The room is not very inviting </label><br>
		<input type="checkbox" value="CommunityCentre" >    
		<label for="CommunityCentre"> I would prefer to meet at the Community Centre </label><br>
		<label for="Location-Other"> Other comments about the location: </label><br>
		<input type="text" name="Location_other" value="" >
	</div>
	
	<h2>TnT  meets after school on Fridays</h2>
	<div class="textCols">
		<label for="Day">I prefer a different day: Please say when:</label><br>
		<input type="text" name="Day" value="" >
		<label for="Time">I prefer a different time: Please say when:</label><br>
		<input type="text" name="Time" value="" >
		<label for="Idea-Other"> Other comments about the day or time: </label><br>
		<input type="text" name="Day_Time" value="" >
	</div>

	<h2>TnT  offers hot and cold drinks and buttered toast</h2>
	<div class="checkCols">
		<input type="checkbox" name="Snacks" value="Takeaway" >    
		<label for="Uninviting"> I would like takeaway drinks </label><br>
		<input type="checkbox" name="Snacks" value="Toast" >    
		<label for="CommunityCentre">I like toast</label><br>
		<input type="checkbox" name="Snacks" value="Toast" >    
		<label for="CommunityCentre">I would like crumpets</label><br>
		<input type="checkbox" name="Snacks" value="Toast" >    
		<label for="CommunityCentre">I would like waffles</label><br>
		<label for="Idea-Other"> Other comments about the snacks/drinks: </label><br>
		<input type="text" name="Snacks-Other" value="" >	
	</div>
	
	<h2>TnT offers various card-games</h2>
	<div class="radioCols">
		<input type="checkbox" name="Games" value="Music" >    
		<label for="Music"> I would like music </label><br>
		<input type="checkbox" name="Games" value="Boardgames" >    
		<label for="Boardgames">I would like board games</label><br>
		<input type="checkbox" name="Games" value="videogames" >    
		<label for="videogames">I would like to play games on my phone</label><br>
		<input type="checkbox" name="Games" value="chat-friends" >    
		<label for="chat-friends">I would like to chat with my friends</label><br>
		<input type="checkbox" name="Games" value="chat-adult" >    
		<label for="chat-adult">I would like to be able to chat with a friendly adult</label><br>
		<label for="Idea-Other"> Other comments about activities: </label><br>
		<input type="text" name="Games-Other" value="" >	
	</div>
	<br>
    <button type="submit">Send</button> 
</form>
</div>
</body>
</html>