{{/* layouts/secure/single.html */}}
{{ define "main" }}
  {{ $current_page := . }}
  {{ $breadcrumb_page_types := site.Params.breadcrumb.page_types | default dict }}
  {{ $show_breadcrumb := index $breadcrumb_page_types .Type | default false }}

  <link rel="stylesheet" href="{{ "css/forms.css" | relURL }}">

  <div class="page-container">
    <div class="no-print">
      {{ if $show_breadcrumb }}
        {{ partial "breadcrumb" $current_page }}
      {{ end }}
    </div>    
    <h1>{{ .Title }}</h1>
    <form name="{{ .Title | urlize }}" class="verified-form" data-netlify="true" netlify>
      <!-- Placeholder for gatedForms to load content into -->
      <div id="gated-form-placeholder">Loading form…</div>
    </form>
  </div>

<script type="module" src="{{ "js/form_access_controller.js" | relURL }}" defer></script>
<script type="module" src="{{ "js/form-init.js" | relURL }}" defer></script>


{{ end }}
