// assets\scss\custom.scss
/*************************************************
 *  Documentation layout
 **************************************************/

section.wg-hero {
 height: 33%;
}

/* Breadcrumb */
li.breadcrumb-item {
	font-size: inherit;
}

/* List-page spacing of folder-list. Margin/padding apply to the <p> only */
div.directory-style p,
div.summary-style p {
  line-height: 1.0;
  margin: 0.5rem 0 0 0;
}

/* List-page Summary title spacing. Margin & padding apply to the <p> only.
*/
div.summary-style p {
  line-height: 1.0;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

/* Print formatting */

@media print {
  .docs-sidebar, .no-print, .no-print *{ /* Hide stuff in printouts. */
    display: none;
  }
}

/* Docs TOC. */

#TableOfContents li a,
.toc-top li a {
  font-size: inherit;
}
