{{/* layouts/partials/anl_page_chrome.html */}}

{{ $current_page := . }}

{{ $background_image := $current_page.Params.background_image }}
{{ $logo_image := $current_page.Params.logo_image }}

{{ $show_breadcrumb := true }}
{{ if isset .Params "show_breadcrumb" }}
  {{ $show_breadcrumb = .Params.show_breadcrumb }}
{{ end }}
{{ if eq .Type "home" }}
  {{ $show_breadcrumb = false }}
{{ end }}

<link rel="stylesheet" href="{{ "css/anl_chrome.css" | absURL  }}">
<div class="debug-message">
  DEBUG: partials\anl_page_chrome.html is running
  DEBUG: $current_page.IsHome={{ $current_page.IsHome }}
  | Frontmatter show_breadcrumb={{ index $current_page.Params "show_breadcrumb" | default "not set" }}
</div>
<div class="page-container" style="{{ if $background_image }}background-image: url('{{ $background_image }}');{{ end }}">
  <div class="no-print">
    {{ if $show_breadcrumb }}
      <div class="container">
        {{ partial "breadcrumb.html" $current_page }}
      </div>    
    {{ end }}
  </div>
  
  {{ with $logo_image }}
     <div class="page-logo">
       <img src="{{ . }}" alt="Logo">
     </div>
  {{ end }}

  {{ partial "qr_code.html" $current_page }}
    
{{/* </div> Must be closed in another parial */}}

