{{/* layouts/partials/list_folder_layout.html */}}

{{ $current_page := . }}

{{/* <div> Opened in this parial */}}
{{ partial "anl_page_chrome.html" $current_page }}

<div class="container">
  <main class="docs-content">
    <h1>{{ .Title }}</h1>

    <div class="directory-style">
      {{ range .Sections }}
        <p><a href="{{ .Permalink }}">{{ .Title }}/</a></p>
      {{ end }}

      {{ range .Pages }}
        {{ if and (eq .Type "document-folder") (not .IsSection) }}
          <p><a href="{{ .Permalink }}">{{ .Title }}/</a></p>
        {{ end }}
      {{ end }}
    </div>

    {{ range .Pages }}
      {{ if or (eq .Type "document") (eq .Type "form") (eq .Type "secure_page") }}
        {{ $auto_summary_types := site.Params.auto_summary | default dict }}
        {{ $auto_summary := index $auto_summary_types .Type | default false }}
        <div class="summary-style">		
          <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
          {{ if .Params.summary }}
            {{ .Params.summary | plainify | emojify }}
          {{ else if .Params.abstract }}
            {{ .Params.abstract | plainify | emojify | truncate 250 }}
          {{ else if and .Summary $auto_summary }}
            {{ .Summary | plainify | emojify }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </main>
</div>
</div>
