{{/* \layouts\shortcodes\home_sibling_links.html */}}

{{ $homePage := site.GetPage site.Params.home }}
{{ $parent := $homePage.Parent }}

<ul class="home-sibling-links">
  {{ if $parent }}
    {{ range sort $parent.Sections "File.Dir" }}
      {{ $dir := .File.Dir | path.Clean }}
      {{ $folder := path.Base $dir }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  {{ end }}
</ul>

<style>
.home-sibling-links {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  justify-content: center;
}

.home-sibling-links li {
  margin: 0;
}

.home-sibling-links a {
  color: blue;
  text-decoration: underline;
  font-size: var(--h2-font-size, 2rem);
}
</style>
