{{/* layouts/shortcodes/review_documents.html */}}

<h1>Form Review Status</h1>
<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Last Reviewed</th>
      <th>Review Period</th>
      <th>Reviewed By</th>
      <th>Next Review Due</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {{ range where .Site.Pages "Params.last_reviewed" "!=" nil }}
      {{ $last := time .Params.last_reviewed }}
      {{ $period := .Params.review_period }}
      {{ $due := "" }}

      {{ if strings.HasSuffix $period "m" }}
        {{ $due = $last.AddDate 0 (int (strings.TrimSuffix "m" $period)) 0 }}
      {{ else if strings.HasSuffix $period "y" }}
        {{ $due = $last.AddDate (int (strings.TrimSuffix "y" $period)) 0 0 }}
      {{ end }}

      {{ $isOverdue := and $due (lt $due now) }}
      {{ $isUpcoming := and $due (and (ge $due now) (le $due (now.AddDate 0 0 30))) }}

      <tr
        {{ if $isOverdue }} style="background-color:#ffe5e5;"{{ else if $isUpcoming }} style="background-color:#fff8e1;"{{ end }}
      >
        <td><code>{{ .File.Path }}</code></td>
        <td>{{ .Params.last_reviewed }}</td>
        <td>{{ .Params.review_period }}</td>
        <td>{{ .Params.reviewed_by }}</td>
        <td>
          {{ if $due }}
            {{ if $isOverdue }}
              <strong style="color:red;">{{ $due.Format "2006-01-02" }} (Overdue)</strong>
            {{ else if $isUpcoming }}
              <strong style="color:orange;">{{ $due.Format "2006-01-02" }} (Upcoming)</strong>
            {{ else }}
              <span style="color:green;">{{ $due.Format "2006-01-02" }}</span>
            {{ end }}
          {{ else }}
            Unknown
          {{ end }}
        </td>
        <td>
          <a href="https://github.com/StephenJD/ANL/edit/main/content/{{ replace .File.Path `\` `/` }}" target="_blank">
           ✏ Edit
          </a>
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
